.css-1r4vtzz{width:100%;background:#2f323e;border:1px solid #6c7077;color:#b3b4b7;height: 26px;border-radius: 0px;}
.css-1r4vtzz:hover{border:1px solid #2684ff}
.css-48ayfv{background:#2f323e; border:1px solid #6c7077; color:#b3b4b7;height: 26px; width: 100%;}
.css-ik6y5r .css-11unzgr{max-height: 270px; z-index: 12000;}